.container {
  max-width: 840px;
}

.badges p {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.badges p img {
  margin: 0;
  border-radius: 0;
}

.badges a,
.badges img {
    border: 0;
}

main p {
  font-style: italic;
}

footer {
  border-top: 0;
}
