.container {
  max-width: 840px;
}

.badges p {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.badges p img {
  margin: 0;
  border-radius: 0;
}

main p {
  font-style: italic;
}

footer {
  border-top: 0;
}

footer p.center {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

footer p.center img {
  margin: 0;
  border-radius: 0;
}

footer p.center a {
  border: 0;
}
